{% extends "index.html" %}
  {% block title %} Sign up {% endblock%}
  {% block content %}
    <form action="" method="post">
      <h3 class="text-center mb-4">Sign Up</h3>
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter first name"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% endblock %}