argcomplete==3.4.0
attrs==23.2.1.dev0
autocommand==2.2.2
certifi==2024.12.14
cffi==1.17.1
colorama==0.4.6
cryptography==44.0.0
fastjsonschema==2.21.1
filelock==3.16.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
more-itertools==10.5.0
OpenCC==1.1.8
ordered-set==4.1.0
packaging==24.2
platformdirs==4.3.6
psutil==6.1.1
pycparser==2.22
pygdbmi==0.11.0.0
PyGObject==3.50.0
PyYAML==6.0.2
sentry-sdk==2.19.2
setuptools==75.2.0
shtab==1.7.2.dev0+g61ec99d.d20241116
smbus==1.1
termcolor==2.5.0
tldr==3.3.0
tomli==2.0.1
tomlkit==0.13.2
trove-classifiers==2024.10.21.16
urllib3==2.3.0
validate-pyproject==0.22
wheel==0.45.0
xmltodict==0.14.2
yq==3.4.3
